<ion-card class="exercise-prs-card">
  <ion-card-content>
    <ion-list class="prs-list" lines="none">
      <ion-list-header>
        <div class="header-content">
          <ion-label>{{ "PROGRESS.EXERCISE_PRS" | translate }}</ion-label>
          <ion-icon name="trophy"></ion-icon>
        </div>
      </ion-list-header>

      @if (topPrs().length === 0) {
        <div class="empty-state">
          <p>{{ "PROGRESS.NO_PRS" | translate }}</p>
        </div>
      } @else {
        @for (pr of topPrs(); track pr.exerciseId) {
          <div class="pr-item">
            <div class="pr-main">
              <div class="pr-icon">
                @if (pr.muscleGroup) {
                  <app-muscle-icon
                    [muscleGroup]="pr.muscleGroup"
                  ></app-muscle-icon>
                } @else {
                  <ion-icon name="barbell"></ion-icon>
                }
              </div>
              <div class="pr-info">
                <span class="pr-exercise ez-truncate">{{
                  pr.exerciseName
                }}</span>
                @if (pr.muscleGroup) {
                  <span class="pr-muscle ez-truncate">
                    {{ "EXERCISE.MUSCLE_GROUP_LABEL" | translate }}:
                    {{
                      "EXERCISE.MUSCLE_" + pr.muscleGroup.toUpperCase()
                        | translate
                    }}</span
                  >
                }
              </div>
            </div>
            <div class="pr-stats">
              <div class="pr-weight">
                <span class="weight-value">{{ formatWeight(pr.prWeight) }}</span>
                <span class="weight-unit">kg</span>
              </div>
              <div class="pr-date">
                <ion-icon name="calendar"></ion-icon>
                <span>{{ formatPRDate(pr.prDate) }}</span>
              </div>
            </div>
          </div>
        }
      }
    </ion-list>
  </ion-card-content>
</ion-card>
