<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: start">
      @if (exercise) {
        {{ "EXERCISE.EDIT_TITLE" | translate }}
      } @else {
        {{ "EXERCISE.CREATE_TITLE" | translate }}
      }
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="close()"
        fill="clear"
        shape="round"
        color="danger"
        >{{ "COMMON.CANCEL" | translate }}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()">
    <!-- Exercise Name -->
    <ion-input
      required
      autofocus
      name="name"
      fill="solid"
      label="{{ 'EXERCISE.NAME_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="name"
    />

    <!-- Muscle Group -->
    <div>
      <ion-label position="stacked" class="ion-margin-bottom">
        {{ "EXERCISE.MUSCLE_GROUP_LABEL" | translate }}
      </ion-label>
      <app-muscle-group-selector [(muscleGroup)]="muscleGroup" />
    </div>

    <!-- Equipment (Optional) -->
    <ion-input
      name="equipment"
      fill="solid"
      label="{{ 'EXERCISE.EQUIPMENT_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="equipment"
    />

    <!-- Notes (Optional) -->
    <ion-textarea
      name="notes"
      fill="solid"
      label="{{ 'EXERCISE.NOTES_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="notes"
      [rows]="2"
    />

    <!-- Divider -->
    <ion-item-divider>
      <ion-label>{{ "EXERCISE.SETTINGS_LABEL" | translate }}</ion-label>
    </ion-item-divider>

    <!-- Sets -->
    <ion-input
      type="number"
      name="sets"
      fill="solid"
      label="{{ 'EXERCISE.SETS_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="sets"
      min="1"
    />

    <!-- Reps -->
    <ion-input
      name="reps"
      fill="solid"
      label="{{ 'EXERCISE.REPS_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="reps"
    />

    <!-- Target Weight (Optional) -->
    <ion-input
      type="number"
      name="target_weight"
      fill="solid"
      label="{{ 'EXERCISE.WEIGHT_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="targetWeight"
    />

    <!-- Rest Seconds -->
    <ion-input
      type="number"
      name="rest_seconds"
      fill="solid"
      label="{{ 'EXERCISE.REST_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="restSeconds"
      name="rest_seconds"
      min="0"
    />
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" (click)="submit()">
      {{ "COMMON.SAVE" | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
