<ion-card class="import-preview__card">
  <ion-card-content class="import-preview__content">
    <!-- Workout count -->
    <div class="import-preview__row import-preview__row--main">
      <ion-icon
        name="fitness-outline"
        class="import-preview__icon import-preview__icon--main"
      ></ion-icon>
      <div class="import-preview__text">
        <span class="import-preview__count">{{ preview().workoutCount }}</span>
        <span class="import-preview__label">{{
          'IMPORT_EXPORT.WORKOUTS_TO_IMPORT' | translate
        }}</span>
      </div>
    </div>

    <!-- New exercises -->
    @if (showNewExercises()) {
      <div class="import-preview__row import-preview__row--new">
        <ion-icon
          name="arrow-forward-outline"
          class="import-preview__icon import-preview__icon--new"
        ></ion-icon>
        <div class="import-preview__text">
          <span class="import-preview__label">{{
            'IMPORT_EXPORT.NEW_EXERCISES' | translate
          }}</span>
          <span class="import-preview__count">{{
            preview().newExercises.length
          }}</span>
        </div>
      </div>

      <div class="import-preview__exercise-list">
        @for (exercise of preview().newExercises; track exercise) {
          <span class="import-preview__exercise-tag import-preview__exercise-tag--new">
            {{ exercise }}
          </span>
        }
      </div>
    }

    <!-- Existing exercises -->
    @if (showExistingExercises()) {
      <div class="import-preview__row import-preview__row--existing">
        <ion-icon
          name="checkmark-circle-outline"
          class="import-preview__icon import-preview__icon--existing"
        ></ion-icon>
        <div class="import-preview__text">
          <span class="import-preview__label">{{
            'IMPORT_EXPORT.EXISTING_EXERCISES' | translate
          }}</span>
          <span class="import-preview__count">{{
            preview().existingExercises.length
          }}</span>
        </div>
      </div>

      <div class="import-preview__exercise-list">
        @for (exercise of preview().existingExercises; track exercise) {
          <span
            class="import-preview__exercise-tag import-preview__exercise-tag--existing"
          >
            {{ exercise }}
          </span>
        }
      </div>
    }
  </ion-card-content>
</ion-card>
