<ion-header>
  <ion-toolbar>
    <ion-title>{{ "WORKOUTS.CREATE_TITLE" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "COMMON.CANCEL" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">
        {{ "WORKOUTS.NAME_LABEL" | translate }}
      </ion-label>
      <ion-input
        #input
        [(ngModel)]="workoutName"
        name="name"
        required
        (keydown.enter)="submit()"
      />
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="submit()" [disabled]="!workoutName()">
      {{ "COMMON.CREATE" | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
