<div class="stats-cards">
  <!-- Total Workouts -->
  <ion-card class="stats-cards__card">
    <ion-card-content>
      <div class="stats-cards__content">
        <div class="stats-cards__icon">
          <ion-icon name="barbell"></ion-icon>
        </div>
        <div class="stats-cards__info">
          <span class="stats-cards__value">{{
            formatStat(stats()?.totalWorkouts)
          }}</span>
          <span class="stats-cards__label">{{
            "PROGRESS.TOTAL_WORKOUTS" | translate
          }}</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Total Volume -->
  <ion-card class="stats-cards__card">
    <ion-card-content>
      <div class="stats-cards__content">
        <div class="stats-cards__icon">
          <ion-icon name="fitness"></ion-icon>
        </div>
        <div class="stats-cards__info">
          <span class="stats-cards__value">{{
            formatStat(stats()?.totalVolume)
          }}</span>
          <span class="stats-cards__label">{{
            "PROGRESS.TOTAL_VOLUME" | translate
          }}</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Weekly Frequency -->
  <ion-card class="stats-cards__card">
    <ion-card-content>
      <div class="stats-cards__content">
        <div class="stats-cards__icon">
          <ion-icon name="calendar-number"></ion-icon>
        </div>
        <div class="stats-cards__info">
          <span class="stats-cards__value">{{
            formatStat(stats()?.averageWeeklyFrequency, 1)
          }}</span>
          <span class="stats-cards__label">{{
            "PROGRESS.WEEKLY_FREQUENCY" | translate
          }}</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Current Streak -->
  <ion-card class="stats-cards__card">
    <ion-card-content>
      <div class="stats-cards__content">
        <div class="stats-cards__icon">
          <ion-icon name="trending-up"></ion-icon>
        </div>
        <div class="stats-cards__info">
          <span class="stats-cards__value">{{
            formatStat(stats()?.currentStreak)
          }}</span>
          <span class="stats-cards__label">{{
            "PROGRESS.CURRENT_STREAK" | translate
          }}</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Last Workout -->
  @if (stats()?.lastWorkoutDate) {
    <ion-card class="stats-cards__card stats-cards__card--full">
      <ion-card-content>
        <div class="stats-cards__content">
          <div class="stats-cards__icon">
            <ion-icon name="time"></ion-icon>
          </div>
          <div class="stats-cards__info">
            <span class="stats-cards__label">{{
              "PROGRESS.LAST_WORKOUT" | translate
            }}</span>
            <span class="stats-cards__value-small">{{
              stats()?.lastWorkoutDate | date: "longDate" : "" : localeValue()
            }}</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  }
</div>
