<div class="muscle-group-selector">
  <div class="muscle-group-selector__scroll">
    @for (group of muscleGroups; track group) {
      <button
        type="button"
        class="muscle-group-selector__item"
        [class.muscle-group-selector__item--selected]="isSelected(group)"
        (click)="selectMuscleGroup(group)"
        [attr.aria-label]="getMuscleGroupLabel(group)"
        [attr.aria-pressed]="isSelected(group)"
      >
        <app-muscle-icon [muscleGroup]="group" size="md" />
        <span class="muscle-group-selector__label">
          {{ getMuscleGroupLabel(group) }}
        </span>
      </button>
    }
  </div>
</div>
