<ion-card class="frequent-workouts__card">
  <ion-card-content>
    <ion-list class="frequent-workouts__list" lines="none">
      <ion-list-header>
        <ion-label>{{ "PROGRESS.FREQUENT_WORKOUTS" | translate }}</ion-label>
      </ion-list-header>

      @if (workouts().length === 0) {
        <div class="frequent-workouts__empty">
          <p>{{ "PROGRESS.NO_WORKOUTS" | translate }}</p>
        </div>
      } @else {
        @for (workout of workouts(); track workout.id) {
          <div class="frequent-workouts__item">
            <div class="frequent-workouts__item-main">
              <div class="frequent-workouts__item-icon">
                @if (workout.muscleGroup) {
                  <app-muscle-icon
                    [muscleGroup]="workout.muscleGroup"
                  ></app-muscle-icon>
                } @else {
                  <ion-icon name="barbell"></ion-icon>
                }
              </div>
              <div class="frequent-workouts__item-info">
                <span class="frequent-workouts__item-name ez-truncate">{{
                  workout.name
                }}</span>
                <span class="frequent-workouts__item-count"
                  >{{ workout.count }}x</span
                >
              </div>
            </div>
            <div class="frequent-workouts__item-meta">
              <ion-icon name="time"></ion-icon>
              <span>{{ getRelativeTime(workout.lastWorkout) }}</span>
            </div>
          </div>
        }
      }
    </ion-list>
  </ion-card-content>
</ion-card>
