<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="workouts" href="/tabs/workouts">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>{{ 'TABS.WORKOUTS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="session" href="/tabs/session">
      <ion-icon name="play-circle"></ion-icon>
      <ion-label>{{ 'TABS.SESSION' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>{{ 'TABS.DASHBOARD' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
