<ion-item-sliding>
  <ion-item-options side="start">
    <ion-item-option
      (click)="startWorkout.emit(workout())"
      [color]="workout().exercise_count > 0 ? 'primary' : 'medium'"
      [disabled]="workout().exercise_count === 0"
    >
      <ion-icon slot="icon-only" name="play-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item button detail="false" lines="full" (click)="navigate()">
    <app-muscle-icon
      [muscleGroup]="workout().muscle_group"
      size="lg"
      slot="start"
    />
    <ion-label>
      <h2>{{ workout().name }}</h2>
      <p>
        {{ workout().exercise_count }}
        {{ "WORKOUTS.EXERCISES" | translate }}
      </p>
      @if (workout().last_trained) {
        <p class="last-trained">
          {{ "WORKOUTS.LAST_TRAINED" | translate }}:
          {{ workout().last_trained | date: dateFormat() }}
        </p>
      }
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option (click)="deleteWorkout.emit(workout().id)" color="danger">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
