<ion-header>
  <ion-toolbar>
    <ion-title>{{ "WORKOUTS.EDIT_TITLE" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "COMMON.CANCEL" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()">
    <ion-input
      required
      name="name"
      fill="solid"
      label="{{ 'WORKOUTS.NAME_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="name"
    />

    <ion-textarea
      name="description"
      fill="solid"
      label="{{ 'WORKOUTS.DESCRIPTION_LABEL' | translate }}"
      labelPlacement="floating"
      [(ngModel)]="description"
    />

    <ion-label position="stacked" class="ion-margin-bottom">
      {{ "EXERCISE.MUSCLE_GROUP_LABEL" | translate }}
    </ion-label>
    <app-muscle-group-selector [(muscleGroup)]="muscleGroup" />
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" (click)="submit()">
      {{ "COMMON.SAVE" | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
