<ion-item-sliding>
  <ion-item>
    <ion-reorder slot="start"></ion-reorder>
    @if (exercise().muscle_group) {
      <app-muscle-icon
        [muscleGroup]="exercise().muscle_group!"
        size="lg"
        slot="start"
      />
    }
    <ion-label>
      <h2 class="ez-truncate">{{ exercise().exercise_name }}</h2>
      <p>
        {{ exercise().sets }} × {{ exercise().reps }}
        @if (exercise().target_weight) {
          <span> @ {{ exercise().target_weight }}kg</span>
        }
        • {{ exercise().rest_seconds }}s
      </p>
    </ion-label>
    <ion-icon
      slot="end"
      class="swipe-affordance"
      name="chevron-forward-outline"
      aria-hidden="true"
    ></ion-icon>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option (click)="editExercise.emit(exercise())">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option
      (click)="deleteExercise.emit(exercise().id)"
      color="danger"
    >
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
